
.Watch{
    background-image: url('./imgs/1.jpg');
    background-position: center;
    background-size: cover;
    h1{
        color: #a82d49;
    }
    p{
        color:#555;
    }
    a{
        text-decoration: none;
        color: #43121d;
        font-weight: bold;
    }
}